<body>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Shopping Web</a>
   <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">  -->
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <!-- <a class="nav-link" href="#">Sign out</a> -->
        <a class="nav-link" *ngIf="!isLoggedin()" routerLink="login">log In</a>
        <a class="nav-link" *ngIf="isLoggedin()" (click)="logOut()" routerLink="">log Out</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item" >
              <a class="nav-link  left-home" routerLink="homepage">
                <img src="../assets/images/menu-icons/dashboard-icon.png" width="20px"/>
                Anasayfa
              </a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link left-home" routerLink="products">
                <img src="../assets/images/menu-icons/electronic-icon.png" width="20px"/>
              Elektronik
              </a>
            </li>
        
            <li class="nav-item">
              <a class="nav-link left-home" routerLink="clothes">
                <img src="../assets/images/menu-icons/clothing-icons.png" width="20px"/>
                Giyim
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link left-home" routerLink="shoes" >
                <img src="../assets/images/menu-icons/shoes-icon.png" width="20px"/>
                Ayakkabılar
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link left-home" routerLink="gem-clock">
                <img src="../assets/images/menu-icons/clocks-icon.png" width="20px"/>
                Mücevher & Saat
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link left-home" routerLink="books">
                <img src="../assets/images/menu-icons/sports-icon.png" width="20px"/>
                Spor 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link left-home"routerLink="books">
                <img src="../assets/images/menu-icons/books-icon.png" width="20px"/>
                Kitaplar
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link left-home" href="#">
                <span data-feather="bar-chart-2"></span>
                Reports
              </a>
            </li>
         
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
       
        <div class="container">
          <div class="row">
            <div class="col-med-12">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>


      </main>
    </div>
  </div>
</body>