.callback-input{
   width: 500px;
   margin-left: -12px;
   height: 40px;
   font-size: 20px;
   font-weight: 500;
   padding: 20px;
   border: solid 2px rgb(114, 94, 94);
   border-radius: 10px;
   outline: none;

}
.product-add{
   padding-left: 30px;
   padding-right: 30px;
}