.newProductTitle{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    
   
}


@media only screen and (min-width:1200px){ /* XL */
	.form{
    width: 950px;
    min-width: 950px;
    max-width: 950px;
	}
}
@media only screen and (min-width:992px) and (max-width:1199px){ /* L */
	.form{
        width: 750px;
        min-width: 750px;
        max-width: 750px;
        }
}
@media only screen and (min-width:768px) and (max-width:991px){ /* M */
	.form{
        width: 500px;
        min-width: 500px;
        max-width: 500px;
        }
}
@media only screen and (min-width:576px) and (max-width:767px){ /* S */
	.form{
        width: 400px;
        min-width: 400px;
        max-width: 400px;
        }
}
@media only screen and (max-width:574px){ /* XS */
	.form{
        width: 300px;
        min-width: 300px;
        max-width: 300px;
        }
}